
</div>

<div class="footer-padding"></div>
  <div class="footer">
    <ul id="foot" >
      <li>
        <a href="https://www.facebook.com/saurabh.kulkarni.01">
          <i class="fab fa-facebook-f icon"></i>    </a>
      </li>
      <li>
        <a href="#contact"><i class="fab fa-twitter icon"></i></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/saurabh-kulkarni-a1657a1a2"><i class="fab fa-linkedin-in icon"></i></a></li>
      <li>
        <a href="saurabhmk01@gmail.com"><i class="fab fa-google-plus-g icon"></i></a></li>
    </ul>
    <h3>© Copyright Saurabh</h3>
  </div>
</div>
</body>
</html>
