<%- include("partials/header"); -%>
    <h1>About</h1>
    <h2>Hello There !!</h2>
    <h3>I am Saurabh Kulkarni</h3>

<p>
    I am currently doing Third year from<br>
                     Mechanical branch at IIT Kharagpur.<br>
                    I am full stack developer and c++ Programmer.<br>
                    I love to make website , wrinting codes And<br>
                    old melody songs ...!! 
</p>
<p>You can always connect me at <a href="https://www.linkedin.com/in/saurabh-kulkarni-a1657a1a2">LinkedIn</a>   </p>
<%- include("partials/footer"); -%>
