<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p>You can always connect me at <a href="https://www.linkedin.com/in/saurabh-kulkarni-a1657a1a2">LinkedIn</a>   </p>
<%- include("partials/footer"); -%>
